@import './fonts';
@import './variables';

html,body {
    scroll-behavior: smooth;
    font-family: $font-primary !important;
    height: 100vh;
}
.mainBG{
    background: rgb(0,12,42);
    background: linear-gradient(0deg, rgba(0,12,42,1) 0%, rgba(3,40,82,1) 63%, rgba(0,79,94,1) 100%);
}
